.edit-user-wrapper {
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px #a8a6a6;
}

.edit-user-header {
	padding: 20px;
	border-bottom: 1px solid #a8a6a6;
}

.edit-user-buttons {
	padding: 20px;
	display: flex;
	justify-content: right;

	.cancel {
		background: #fff;
		border: 1px solid #e8241a;
		color: #e8241a;
		padding: 5px 20px;
		border-radius: 5px;
		cursor: pointer;
	}

	.submit {
		background: #12b524;
		color: #fff;
		padding: 5px 20px;
		border-radius: 5px;
		margin-left: 10px;
		cursor: pointer;
	}
}

.edit-user-form {
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.edit-user-label {
	margin: 10px 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	input {
		margin-left: 20px;
		border: 1px solid #a8a6a6;
		width: 600px;
		border-radius: 5px;
		padding: 5px;
	}
}
