$light-grey: #ddd;
$grey: #a8a6a6;
$dark-grey: #777;
$white: #fff;
$red: #e8241a;
$green: #12b524;
$blue: #1a73e8;
$orange: #e88e1a;

$button-padding: 5px 20px;
$master-padding: 20px;

$border-radius: 5px;

$breakpoint-lg: 850px;
